#basic-addon1{
    background-color: white;
}
/* Nav Bar */

.navbar-brand{
    border:solid 1px black;
    padding: 2px 10px;
    background-color: transparent;
}

i[class="bi bi-controller"]{
    font-size: 1em;
    margin-right: 5px;
}

textarea:focus,
input:focus,
select:focus{
    box-shadow: 0 0 0 0 !important;
}

input{
    width: auto !important;
} 

/* Destaques */
.formatacao{
    font-size: 0.8rem;
}

h1[class="justify-content-lg-between"]{
    text-align: center;
    padding: 10px;
}

/* Lançamentos */
#p5{
    color: red !important;
}

p[class="card-botton"]{
    text-align: end !important;
}

div.lancamentos>div[class="col-3"]{
    padding: 5px 10px;
}

/* Cards */
.card{
    background-color: transparent;
}


/* X-Small devices (less than 576px) */
@media (max-width: 575px){

}

/* Small devices (less than 768px) */
@media (max-width: 767px){

}

/* Medium devices (less than 992px) */
@media (max-width: 991){
    #nopadding{
        padding: 10px 0 !important;
    }
}

/* Large devices (less than 1200px) */
@media (max-width: 1199){

}

/* X-Large devices (less than 1400px) */
@media (max-width: 1399){

}

/* XX-Large devices (max) */
/* Não precisa */