#basic-addon1{
    background-color: white;
}
/* Nav Bar */

.navbar-brand{
    border:solid 1px black;
    padding: 2px 10px;
    background-color: transparent;
}

i[class="bi bi-controller"]{
    font-size: 1em;
    margin-right: 5px;
}

textarea:focus,
input:focus,
select:focus{
    box-shadow: 0 0 0 0 !important;
}

input{
    width: auto !important;
} 

/* Destaques */
.formatacao{
    font-size: 0.8rem;
}

h1[class="justify-content-lg-between"]{
    text-align: center;
    padding: 10px;
}

/* Lançamentos */
#p5{
    color: red !important;
}

p[class="card-botton"]{
    text-align: end !important;
}

div.lancamentos>div[class="col-3"]{
    padding: 5px 10px;
}

/* Cards */
.card{
    background-color: transparent;
}


/* X-Small devices (less than 576px) */
@media (max-width: 575.98px){

}

/* Small devices (less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px){

}

/* Medium devices (less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px){
    #nopadding{
        padding: 1% 1 !important;
        font-size: medium;
        margin-left: 0;
        float: left !important;
        margin-top: 2%;
        width: 100%;
    }
    #video{
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
    }
}

/* Large devices (less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px){
    #nopadding{
        padding: 1px 1 !important;
        font-size: x-small;
        
    }
    #video{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* X-Large devices (less than 1400px) */
@media (min-width: 1200px){
    #nopadding{
        padding: 1px 1 !important;
        font-size: 95%;
    }
    #editor{
        padding-left: 16%;
    }
}

/* XX-Large devices (max) */
/* Não precisa */